@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@font-face {
    font-family: futureFont;
    src: url(./Fonts/NewtonHoward/Newton\ Howard\ Font.ttf);
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body * {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
body {
    font-family: 'MedievalSharp', cursive !important;
    overflow:overlay;
    overflow-x:hidden;
    backdrop-filter: blur(5px);
    background-image: url("./Images/bg.jpg");
    background-size: 102%;
}
p {
    font-size:large;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: rgba(124, 123, 123, 0.6);
}
::-webkit-scrollbar-thumb {
    background: rgb(202, 152, 28);
}
#topbar {
    background-color: rgb(0, 0, 0);
    z-index: 2;
    visibility: visible;
    line-height:inherit;
    height: 100%;
    overflow: visible;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
#topbar-item  {
    color:rgb(202, 152, 28);
    text-decoration-color: rgb(202, 152, 28);
}
#searchButton {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(15deg);
}
#titleText {
    color: rgb(202, 152, 28);
    z-index: 2;
    font-weight: 400;
    text-shadow:
    0.08rem 0 black,
    0 0.08rem black,
    -0.08rem 0 black,
    0 -0.08rem black;
}
.LogoBG {
    background-color: rgba(202, 152, 28, 1);
    -webkit-clip-path: polygon(0 0, 84% 0, 100% 31.3%, 100% 100%, 16% 100%, 0 68.7%, 0 0);;
    clip-path: polygon(0 0, 84% 0, 100% 31.3%, 100% 100%, 16% 100%, 0 68.7%, 0 0);
    max-width: fit-content !important;
}
.LogoAnimation {
    -webkit-clip-path: polygon(0 0, 84% 0, 100% 31.3%, 100% 100%, 16% 100%, 0 68.7%, 0 0);;
    clip-path: polygon(0 0, 84% 0, 100% 31.3%, 100% 100%, 16% 100%, 0 68.7%, 0 0);
    background-color: black;
}
.getStartedDiv {
    position: absolute;
    background-color: rgba(0,0,0, 1);
    transform: translate(10%, -105%);
    width: 11%;
    height: 11%;
    -webkit-clip-path: polygon(0 0, 84% 0, 100% 31.3%, 100% 100%, 16% 100%, 0 68.7%, 0 0);;
    clip-path: polygon(0 0, 84% 0, 100% 31.3%, 100% 100%, 16% 100%, 0 68.7%, 0 0);
}
.getStartedButton {
    background-color: silver;
    color:rgba(202, 152, 28, 1);
    text-shadow:
    0.08rem 0 black,
    0 0.08rem black,
    -0.08rem 0 black,
    0 -0.08rem black;
    text-align: center !important;
    font-family: futureFont;
    text-decoration: none;
    width: 96%;
    height: 90%;
    -webkit-clip-path: polygon(0 0, 84% 0, 100% 31.3%, 100% 100%, 16% 100%, 0 68.7%, 0 0);;
    clip-path: polygon(0 0, 84% 0, 100% 31.3%, 100% 100%, 16% 100%, 0 68.7%, 0 0);
}
.getStartedButton:hover {
    color: rgba(13, 129, 221, 1);
}
.bodyParaText {
    font-family: 'Roboto';
    color: white;
}
.bodyParaText a { 
    color:rgb(202, 152, 28) !important;
}
.mainBG {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: auto;
    width: 100%;
}
.mainBGBackdrop {
    height: 100vh;
    margin: -3px -3px 0px -3px;
}
.bodyBGBackdrop {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-size: 102%;
    height: 100%;
    margin: 20vh 0 0 0;
}
.mainContent {
    background-color: black;
    height:100%;
    color: rgb(202, 152, 28);
    width: 80%;
}
.footerContent {
    width: 80%;
    background-color: black;
    color: white;
}
.footerContent a {
    color:rgb(202, 152, 28);
}
.footerContent a:hover {
    color:white;
}
.footerContent ul {
    list-style-type: none;
}
.footerDiscord {
    --bs-border-color : rgb(202, 152, 28);
}
